@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/background.webp");
  background-repeat: no-repeat;
}

h2,
h3,
h4 {
  @apply font-bold py-2;
}

h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}

button {
  @apply bg-yellow-200 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-400 font-bold border-0 rounded-lg w-1/2 shadow-sm px-8 py-4 transition ease-in duration-200 transform hover:-translate-y-1 hover:scale-105 flex justify-center items-center uppercase;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-white !important;
}

.react-calendar {
  @apply w-full rounded-lg !important;

}

.react-calendar__tile--now {
  @apply bg-yellow-200 rounded-none !important;

}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  @apply bg-yellow-400 !important;
}

.react-calendar__navigation__label
{
  @apply w-full text-xs text-nowrap !important;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
