@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/background.webp");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

h2,
h3,
h4 {
  @apply font-bold py-2;
}

h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}

button {
  @apply bg-yellow-200 font-bold border-0 rounded-3xl w-1/2 px-8 py-4 flex justify-center items-center uppercase;
  box-shadow: inset 5.41px 5.41px 17px #FFF6A6, inset -5.41px -5.41px 17px #E5DC8D;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-yellow-950 !important;
  @apply bg-warmGray-200 p-8 rounded-3xl;
  box-shadow: inset 5.41px 5.41px 17px #f1efee, inset -3px -3px 10px #c3c1c0;
}

.box__shadow-lg {
  box-shadow: 3px 1px 3px #d3d1d0, -4px -4px 2px #f1efee;
}
.box__shadow-md {
  box-shadow: inset 5.41px 5.41px 17px #FFF6A6,
  inset -5.41px -5.41px 17px #E5DC8D,
  5px 0px 3px #d3d1d0,
  0px -3px 3px #f7f5f2;
}
.form__input {
  @apply block w-3/4 px-4 py-2 mt-1 border border-gray-300 rounded-md shadow-sm bg-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500 capitalize
}
